body {
    margin: 0;
    background: #e9e9f1;
}

header {
    display: flex;
    padding: 15px 150px;
}

header h1 {
    letter-spacing: 5px;
    padding-left: 30px;
    color: #414582;
}

.main-login {
    width: 100%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0
}



.left-login {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    color: #565990;

}

.left-login-image {
    width: 200%;
}

.right-login {
    margin-top: -5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-login>h1 {
    color: #565990;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #565990;
    border-radius: 18px;
    box-shadow: 0px 20px 40px #6B6D9D;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 18px;
    padding: 15px;
    background: #9497BB;
    color: #565990;
    font-size: 12pt;
    box-sizing: border-box;
}

.textfield>label {
    color: #e9e9f1;
    margin-bottom: 10px;
    justify-content: left;
    font-weight: bold;
}

.textfield>input::placeholder {
    color: #565990;
}

.btn-login {
    width: 50%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #e9e9f1;
    background: #414582;
    cursor: pointer;
}

.linkCadastro {
    justify-content: center;
    color: #e9e9f1;
}

.linkCadastro a {
    font-weight: bold;
}

a:link {
    color: #e9e9f1;
    background-color: transparent;
    text-decoration: none;

}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #9497BB;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #9497BB;
    background-color: transparent;
    text-decoration: underline;

}